/* * {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}

.form-login{

}
.backgroud {
  width: 100%;
  height: 1024px;
  background: rgba(227,103,94,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.welcome{
font-weight: bolder;
  font-size: 38px;
  position: absolute;
   top:110px;
   color: #CA8254;
  
}

.barber-tittle{
  color: rgba(217,217,217,1);
  line-height: 0.8;
  font-weight: 900;
  text-align: center;
  position: absolute;
  top:340px;
  font-size: 55px;


}
.since{
  position: absolute; 
  top:480px;

}

.logo-image{
  width: 128px;
  height: auto;
  position: absolute; 
  top:200px;
  
}

.signup-button {
  background-color: #CA8254;
  color: rgba(33,43,53,1);
  font-size: 22px;
  width: 203px;
  height: 51px;
  position: absolute;
  top: 550px;
  border-radius: 10px;
  font-weight: 700;
  display: flex;
  justify-content: center; 
  align-items: center;     
  padding: 10px 20px;     
  cursor: pointer;
}
 
    & button {
     background-color: transparent;
     border: none;
     cursor: pointer;
  }

  & button:hover {
    opacity: 0.8;
  }



.login{
  font-size: 38px;
  position: absolute;
  font-weight: 900;
   top:110px;
   color: rgba(33,43,53,1);
}

.v1_4 {
  font-family: 'Kanit', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center; 
  width: 530px;
  height: 755px;
  background: rgba(33,43,53,1);
  opacity: 1;
  position: absolute;
  top: 30px;
  left: 30px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  overflow: hidden;
}
.v1_29 {
  font-family: 'Kanit', sans-serif;
  display: flex;
  justify-content: center; 
  align-items: center; 
  width: 854px;
  height: 755px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 30px;
  left: 541px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  overflow: hidden;
}


.v1_46 {
  width: 387px;
  height: 64px;
  background: rgba(192,191,191,1);
  opacity: 1;
  position: absolute;
  top: 466px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v1_45 {
  width: 387px;
  height: 64px;
  background: rgba(192,191,191,1);
  opacity: 1;
  position: absolute;

  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}

.v1_48 {
  width: 61px;
  color: rgba(122,120,120,1);
  position: absolute;
  top: 504px;
  left: 840px;
  font-family: Kanit;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}

.v1_49 {
  width: 67px;
  color: rgba(122,120,120,1);
  position: absolute;
  top: 578px;
  left: 840px;
  font-family: Kanit;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
} 
*/


/* Reset básico */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Kanit', sans-serif;
  font-size: 14px;
  background: rgba(227,103,94,1);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Container principal */
.login-area {
  display: flex;
  width: 1350px;
  max-width: 95%; /* não ultrapassa 95% da tela */
  height: 755px;
  border-radius: 25px;
  overflow: hidden;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin: 0 auto; /* centraliza horizontalmente */
}



/* Lado esquerdo */
.left {
  flex: 1;
  background: rgba(33,43,53,1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  padding: 0px;
  text-align: center;
}

.left .welcome {
  font-size: 38px;
  font-weight: 900;
  margin-bottom: 20px;
}

.left .logo-image {
  width: 128px;
  margin-bottom: 20px;
}

.left .barber-tittle {
  font-size: 55px;
  font-weight: 900;
  line-height: 1;
  margin-bottom: 10px;
}

.left .since {
  font-size: 16px;
  margin-bottom: 30px;
}

.left .signup-button {
  background-color: #CA8254;
  color: rgba(33,43,53,1);
  font-size: 22px;
  font-weight: 700;
  width: 200px;
  height: 50px;
  border-radius: 10px;
  cursor: pointer;
  transition: opacity 0.3s;
}

.left .signup-button:hover {
  opacity: 0.8;
}

/* Lado direito */
.right {
  flex: 1;
  background: rgba(217,217,217,1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

/* Título LOGIN */
.right .login {
  font-size: 38px;
  font-weight: 900;
  color: rgba(33,43,53,1);
  margin-bottom: 40px;
}

/* Formulário */
.form-login {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  gap: 20px;
}

/* Inputs */
.form-login input {
  width: 100%;
  height: 44px;
  padding: 0 15px;
  font-size: 18px;
  border-radius: 10px;
  border: none;
  background: rgba(192,191,191,1);
  color: #333;
}

.form-login select {
  width: 100%;
  height: 44px;
  padding: 0 15px;
  font-size: 18px;
  border-radius: 10px;
  border: none;
  background: rgba(192,191,191,1);
  color: #333;
}

.form-login input::placeholder {
  color: rgba(122,120,120,1);
}

/* Botão */
.form-login button {
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 10px;
  background-color: #CA8254;
  color: rgba(33,43,53,1);
  font-size: 22px;
  font-weight: 700;
  cursor: pointer;
  transition: opacity 0.3s;
}

.form-login button:hover {
  opacity: 0.8;
}

/* Responsividade */
@media (max-width: 1024px) {
  .login-area {
    flex-direction: column;
    height: auto;
  }

  .left, .right {
    width: 100%;
    border-radius: 25px;
  }

  .form-login input {
    height: 50px;
  }
}
