* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.backgroud {
  width: 100%;
  height: 1024px;
  background: rgba(227,103,94,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.welcome{
font-weight: bolder;
  font-size: 38px;
  position: absolute;
   top:110px;
   color: #CA8254;
  
}

.barber-tittle{
  color: rgba(217,217,217,1);
  line-height: 0.8;
  font-weight: 900;
  text-align: center;
  position: absolute;
  top:340px;
  font-size: 55px;


}
.since{
  position: absolute; 
  top:480px;

}

.logo-image{
  width: 128px;
  height: auto;
  position: absolute; 
  top:200px;
  
}

.signup-button {
  background-color: #CA8254;
  color: rgba(33,43,53,1);
  font-size: 22px;
  width: 203px;
  height: 51px;
  position: absolute;
  top: 550px;
  border-radius: 10px;
  font-weight: 700;
  display: flex;
  justify-content: center; /* horizontal */
  align-items: center;     /* vertical */
  padding: 10px 20px;     /* sem aspas */
  cursor: pointer;
}
 
    & button {
     background-color: transparent;
     border: none;
     cursor: pointer;
  }

  & button:hover {
    opacity: 0.8;
  }



.login{
  font-size: 38px;
  position: absolute;
  font-weight: 900;
   top:110px;
   color: rgba(33,43,53,1);
}

.v1_4 {
  font-family: 'Kanit', sans-serif;
  display: flex;
  justify-content: center; /* centro horizontal */
  align-items: center; 
  width: 530px;
  height: 755px;
  background: rgba(33,43,53,1);
  opacity: 1;
  position: absolute;
  top: 30px;
  left: 30px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  overflow: hidden;
}
.v1_29 {
  font-family: 'Kanit', sans-serif;
  display: flex;
  justify-content: center; /* centro horizontal */
  align-items: center; 
  width: 854px;
  height: 755px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 30px;
  left: 541px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  overflow: hidden;
}


.v1_46 {
  width: 387px;
  height: 64px;
  background: rgba(192,191,191,1);
  opacity: 1;
  position: absolute;
  top: 466px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v1_45 {
  width: 387px;
  height: 64px;
  background: rgba(192,191,191,1);
  opacity: 1;
  position: absolute;

  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}

.v1_48 {
  width: 61px;
  color: rgba(122,120,120,1);
  position: absolute;
  top: 504px;
  left: 840px;
  font-family: Kanit;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}

.v1_49 {
  width: 67px;
  color: rgba(122,120,120,1);
  position: absolute;
  top: 578px;
  left: 840px;
  font-family: Kanit;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}