* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.backgroud {
  width: 100%;
  height: 1024px;
  background: rgba(227,103,94,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.welcome{

  
}
.v1_4 {
  display: flex;

  width: 854px;
  height: 755px;
  background: rgba(33,43,53,1);
  opacity: 1;
  position: absolute;
  top: 30px;
  left: 30px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  overflow: hidden;
}
.v1_29 {
  width: 854px;
  height: 755px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 30px;
  left: 541px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  overflow: hidden;
}
