.home-container {
  width: 854px; /* mesmo tamanho do login */
  height: 755px;
  margin: 50px auto;
  padding: 30px;
  background: rgba(217, 217, 217, 1);
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Kanit', sans-serif;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

h1{

  
  color: #CA8254;
}



.client-info {
  background: rgba(33,43,53,1);
  color: rgba(217,217,217,1);
  padding: 30px;
  border-radius: 25px;
  width: 100%;
  margin-top: 20px;
}

.client-info h2 {
  margin-bottom: 15px;
}

.client-info p {
  margin: 8px 0;
  font-size: 16px;
}

.logout-btn {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #CA8254;
  color: rgba(33,43,53,1);
  font-weight: 700;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.logout-btn:hover {
  opacity: 0.8;
}